<h1 class="sc-content__title">
    Connect with TACC</h1>
<article class="sc-media">
    <h2 class="sc-content__sub-title sc-media__title">
        YouTube Videos</h2>
    <div class="embed">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/T8xd1W4C61Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
    <h2 class="sc-content__sub-title sc-media__title">
        Twitter Feed</h2>
    <a class="twitter-timeline" href="https://twitter.com/TACC?ref_src=twsrc%5Etfw" data-tweet-limit="3">Tweets by TACC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</article>
