<h1 class="sc-content__title">
    Connect with TACC</h1>
<article class="sc-media">
    <h2 class="sc-content__sub-title sc-media__title">
        Twitter Feed</h2>
    <a class="twitter-timeline" href="https://twitter.com/TACC?ref_src=twsrc%5Etfw" data-tweet-limit="3">Tweets by TACC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</article>
