{{! IMPORTANT: Include `/templates/partials/styles.mustache` before this (can be done in another template) }}
<style type="text/css" id="style--sc-themes">
/* COMPONENTS: SC EVENT: Data */
.t-2019 .sc-event__data {
    margin-left: 0; /* override `…/main.css` */
}
.t-2019 .sc-event__data dt {
    font-weight: normal;
}
.t-2019 .sc-event__data dd ul {
    margin: 0;
}
.t-2019 .sc-event__data dd ul,
.t-2019 .sc-event__data dd li {
    display: inline;
}
.t-2019 .sc-event__data dd ul:not(.has-commas) li::after { content: ", "; }
.t-2019 .sc-event__data dd ul.has-commas li::after { content: "; "; }
.t-2019 .sc-event__data dd li:last-of-type::after {
    display: none;
}
</style>
