{{#days}}
	{{#is_column}}
	<div class="col-md-6">
	{{/is_column}}
	{{^is_column}}
	<div>
	{{/is_column}}
		<h2 class="sc-content__sub-title">
			{{date}}
		</h2>
		<hr class="sc-content__sub-title-decoration" />
	{{#events}}
		<article class="sc-event">
			<!-- FAQ: Not using <h3> because it has too much to unstyle -->
			<strong class="sc-event__title">{{#url}}<a href="{{{url}}}" target="_blank">{{> title}}</a>{{/url}}{{^url}}{{> title}}{{/url}}</strong>

			{{#context}}
			<p class="sc-event__sub-title">
				{{#context_url}}
					{{#url}}
				<span>{{context}}</span>
					{{/url}}
					{{^url}}
				<a href="{{{context_url}}}" target="_blank">{{context}}</a>
					{{/url}}
				{{/context_url}}
				{{^context_url}}
				<span>{{context}}</span>
				{{/context_url}}
			</p>
			{{/context}}

			<dl class="sc-event__data">
				{{#organization}}
				<dt>{{{organization.type}}}</dt>
					<dd>{{organization.name}}</dd>
				{{/organization}}
				{{#leader}}
				<dt>{{{leader.type}}}</dt>
					<dd>{{leader.name}}</dd>
				{{/leader}}
				{{#speakers}}
				<dt>{{{speakers.type}}}</dt>
					<dd><ul {{#speakers.has-commas}}class="has-commas"{{/speakers.has-commas}}>
					{{#speakers.names}}
						<li>{{.}}</li>
					{{/speakers.names}}
					</ul></dd>
				{{/speakers}}
				{{#duration}}
				<dt>Length</dt>
					<dd>
						<time datetime="{{duration-iso}}">{{duration}}</time>
					</dd>
				{{/duration}}
				{{#time_start}}
				<dt>Time</dt>
					<dd>
						<time datetime="{{{date-iso}}}T{{{time_start-iso}}}">{{time_start}}</time>{{#time_end}}<span>–</span><time datetime="{{{date-iso}}}T{{{time_end-iso}}}">{{time_end}}</time>{{/time_end}}
					</dd>
				{{/time_start}}
			</dl>
			{{#warning}}
			<!-- !!!: Temporary content -->
			<blockquote style="border-width: 20px 0; border-style: solid; border-color: #0e0520; margin-bottom: 0">
				<p><strong>Notice:</strong> {{warning}}</p>
			</blockquote>
			{{/warning}}
			{{#description}}
			<div class="sc-read-more--solution-3">
				<!-- WARN: Titles may have characters prohibitted in `id` attribute -->
				<input class="sc-read-more__state" id="{{title}}--{{time_start-iso}}" type="checkbox" />
				<p class="sc-event__desc sc-read-more__target">{{description}}</p>
				<label class="sc-read-more__toggle" for="{{title}}--{{time_start-iso}}">
					<span class="sc-read-more__on-text">Read more</span>
					<span class="sc-read-more__off-text">Show less</span>
				</label>
			</div>
			{{/description}}
		</article>
	{{/events}}
	</div>
{{/days}}
